.below-user-summary-stats-custom-text {
  padding: 1em 0;
  .custom-summary-stats-message {
    color: #006699;
    font-size: 1.2em;
    background: #edf6fc;
    border-radius: 4px;
    text-align: center;
    margin: 1em 0;
    padding: 0.5em;
  }
}
